.cart{
    position: relative;
    cursor: pointer;
}
.countView{
    position: absolute;
    text-align: center;
    padding: 3px 7px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    background-color: #1d1f22;
    border-radius: 50%;
    bottom: 12px;
    left: 12px;
}