@import "../../common/styles/sass/mixins";
@import "../../common/styles/sass/variables";

.productList {
  width: 100%;

  .name {
    @include text($fontFamilyRaleWay, 42px, 400, 160%);
    text-transform: capitalize;
    width: 299px;
    height: 68px;
    margin-left: 101px;
    margin-top: 160px;
  }

  .list {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    grid-gap: 79px;
    @media screen and (max-width: 1430px) {
      width: 1000px;
      margin-right: auto;
      margin-left: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: dense;
      grid-gap: 79px;
    }
    @media screen and(max-width: 950px) {
      width: 400px;
      margin-right: auto;
      margin-left: auto;
      display: grid;
      grid-template-columns: 356px;
      grid-auto-flow: dense;
      grid-gap: 79px;
    }
  }
}


