@import "../../common/styles/sass/mixins";
@import "../../common/styles/sass/variables";

.productList {
  width: 100%;

  .name {
    @include text($fontFamilyRaleWay, 42px, 400, 160%);
    text-transform: capitalize;
    width: 299px;
    height: 68px;
    margin-left: 101px;
    margin-top: 160px;
  }

  .list {
    max-width: 1640px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }
}


