.attributesContainer {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin-bottom: 20px;*/
}

.title {
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}

.list {
    display: flex;
    /*padding-top: 10px;*/
}
.attribute{
    display: inline-block;
}
