.attributesContainer {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin-bottom: 20px;*/
}

.title {
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}

.list {
    display: flex;
    /*padding-top: 10px;*/
}
.attribute{
    display: inline-block;
}
.attributeItem {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 15%;*/
    /*height: 20px;*/
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    border: 1px #1D1F22 solid ;
    background-color:#ffffff ;
    color: #1D1F22;
    margin-right: 5px;
    /*margin-bottom: 20px;*/
    padding: 3%;
    cursor: pointer;
}

.attributeItem:hover {
    border: 1px solid #A6A6A6;
    color: #A6A6A6;
}

.active {
    color:#ffffff ;
    background: #1D1F22;

}
.activeSwatch{
    border: 3px solid #5ECE7B
}
/*.activeSwatch{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 63px;*/
/*    height: 45px;*/
/*    border: 1px solid #1D1F22;*/
/*    margin-right: 10px;*/
/*    margin-bottom: 20px;*/
/*    cursor: pointer;*/
/*    outline: 2px solid red;*/

/*}*/
