.modalContainer {
    position: fixed;
    top: 78px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(57, 55, 72, 0.22);
    z-index: 10;
    cursor: pointer;
}

.modal {
    /*position: fixed;*/
    /*width: 325px;*/
    /*height: 677px;*/
    /*top: 78px;*/
    /*background: #FFFFFF;*/
    /*right: 80px;*/
    /*z-index: 21;*/
}
