@import "../../common/styles/sass/mixins";
@import "../../common/styles/sass/variables";

.navBar {
  display: flex;
  height: 100%;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
  padding-top: 20px;

  .list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;

    .item {
      @include text($fontFamilyRaleWay, 16px, 400, 120%);
      text-decoration: none;
      padding: 4px 16px 32px 16px;
    }

    .active {
      @include text($fontFamilyRaleWay, 16px, 600, 120%);
      text-decoration: none;
      padding: 4px 16px 32px 16px;
      color: #5ece7b;
      border-bottom: 2px solid #5ece7b;
    }

  }
}

@media screen and (max-width: 735px) {
  .navBar {
    margin-left: 15px;
    padding-top: 20px;

    .list {
      .item {
        @include text($fontFamilyRaleWay, 12px, 400, 120%);
        padding: 4px 5px 32px 0;
      }

      .active {
        @include text($fontFamilyRaleWay, 12px, 600, 120%);
        padding: 4px 5px 32px 0;
      }
    }
  }
}


