@import "../../common/styles/sass/mixins";
@import "../../common/styles/sass/variables";

.cartModalBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  font-size: 70%;
  position: fixed;
  width: 325px;
  height: 677px;
  top: 78px;
  background: #FFFFFF;
  right: 80px;
  z-index: 21;
  & > div::-webkit-scrollbar {
    width: 0;
  }
  .cartModalContainers {
    width: 395px;
    height: 550px;
    margin-top: 45px;
    overflow: auto;

    .title {
      @include text($fontFamilyRaleWay, 16px, 700, 25.6px);
      position: fixed;
      top: 78px;
      right: 270px;
      .titleItems {
        @include text($fontFamilyRaleWay, 16px, 500, 25.6px);
      }
    }

    .buttons {
      position: fixed;
      display: flex;
      justify-content: center;
      bottom: 185px;
      right: 88px;

      & button {
        text-transform: uppercase;
        width: 140px;
        height: 43px;
        cursor: pointer;
        margin: 0 7px;
      }

      .viewBtn {
        @include text($fontFamilyRaleWay, 14px, 600, 16.8px);
        color: #1d1f22;
        background-color: #ffffff;
        border: 1px solid #1d1f22;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }
      }

      .checkoutButton {
        @include text($fontFamilyRaleWay, 14px, 600, 16.8px);
        color: #ffffff;
        background-color: #5ECE7B;
        border: none;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}


.cartModalContainers {
  height: 520px;
  overflow: auto;
}

@media screen and(max-width: 735px){
  .cartModalBlock {
    height: 477px;
    right: 10px;
    & > div::-webkit-scrollbar {
    }
    .cartModalContainers {
      width: 350px;
      height: 350px;
      margin-top: 45px;
      overflow: auto;

      .title {
        @include text($fontFamilyRaleWay, 14px, 700, 25.6px);
        right: 210px;
        .titleItems {
          @include text($fontFamilyRaleWay, 14px, 500, 25.6px);
        }
      }
      .buttons {
        bottom: 105px;
        right: 18px;
        & button {
        }
        .viewBtn {
          @include text($fontFamilyRaleWay, 14px, 600, 16.8px);
          &:hover {
          }
        }
        .checkoutButton {
          @include text($fontFamilyRaleWay, 14px, 600, 16.8px);
          &:hover {
          }
        }
      }
    }
  }


  .cartModalContainers {
    height: 520px;
    overflow: auto;
  }
}







