@import "../../common/styles/sass/mixins";
@import "../../common/styles/sass/variables";

.cartBlock {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;

  .cartTitle {
    @include text($fontFamilyRaleWay, 150%, 700, 100px);
    text-transform: uppercase;
    margin-top: 80px;
  }

  .cartLine {
    padding-top: 10px;
    margin-bottom: 30px;
    border-top: 1px solid #e5e5e5;
  }

  .cartContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    .attributeContainer {
      width: 50%;
      line-height: 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .brandModal {
        @include text($fontFamilyRaleWay, 16px, 300, 160%);
      }

      .brandCart {
        @include text($fontFamilyRaleWay, 30px, 600, 160%);
        //margin-bottom: 10px;
      }

      .nameModal {
        @include text($fontFamilyRaleWay, 16px, 300, 160%);
      }

      .nameCart {
        @include text($fontFamilyRaleWay, 30px, 400, 160%);
      }

      .priceModal {
        @include text($fontFamilyRaleWay, 16px, 600, 160%);
        margin-top: 5px;
      }

      .priceCart {
        @include text($fontFamilyRaleWay, 24px, 700, 32px);
      }

      .attributesContainer {
        width: 100%;

        .titleModal {
          @include text($fontFamilyRaleWay, 14px, 400, 16px);
          margin-bottom: 8px;
        }

        .titleCart {
          @include text(Roboto Condensed, 18px, 700, 18px);
          margin-bottom: 8px;
        }

        .list {
          display: flex;
          text-align: center;
        }

      }

    }

  }

}

.attributeItem {
  @include text($fontFamilySansPro, 1em, 400, 16px);
  width: 63px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #1D1F22 solid;
  background-color: #ffffff;
  color: #1D1F22;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  //padding: 6%;
}

.attributeItemModal {
  @include text($fontFamilySansPro, 10px, 400, 160%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #1D1F22 solid;
  background-color: #ffffff;
  color: #1D1F22;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.active {
  color: #ffffff;
  background: #1D1F22;
}

.attributeItemSwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px #ece9e9 outset;
  margin-right: 5px;
  padding: 3%;
}

.attributeItemSwatchModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px #ece9e9 outset;
  margin-right: 5px;
}

.activeSwatch {
  position: relative;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
}

.activeSwatch::before {
  box-sizing: border-box;
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  padding: 55%;
  border: 2px solid #5ECE7B;
}

.galleryBlock {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .galleryContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .counter {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 5px;
      color: #1d1f22;

      .button {
        width: 42px;
        height: 42px;
        font-size: 20px;
        background: none;
        border: 1px solid #1d1f22;
        cursor: pointer;
      }

      .valueModal {
        @include text($fontFamilyRaleWay, 16px, 500, 5em);
      }

      .value {
        @include text($fontFamilyRaleWay, 24px, 500, 7em);
      }

    }
    .counterModal{
      @include text($fontFamilyRaleWay, 15px, 500, 5em);
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 5px;
      color: #1d1f22;
      & button{
        background:none;
        border: 1px solid #1d1f22;
        cursor: pointer;
      }
    }
  }
}

.image {
  width: 80px;
  height: 120px;
}

.imageModal {
  width: 200px;
  height: 258px;
}

.quantity {
  @include text($fontFamilyRaleWay, 24px, 400, 28px);

  & span {
    @include text($fontFamilyRaleWay, 24px, 700, 28px);
  }
}

.totalTitleModal {
  @include text(Roboto, 16px, 500, 18px);
  margin-top: 30px;
}

.totalTitleCart {
  @include text($fontFamilyRaleWay, 24px, 700, 24px);
}

.totalPriceModal {
  @include text($fontFamilyRaleWay, 16px, 700, 160%);
  margin-left: 150px;
}

.totalPriceCart {
  @include text($fontFamilyRaleWay, 24px, 700, 160%);
  margin-left: 23px;
}
