.cartBlock {
    width: 100%;
    height: 100%;

}

.cartContainer {
    width: 100%;
    max-height: 90%;
    display: flex;
    /*justify-content: space-between;*/
    color: #1d1f22;
    margin-bottom: 20px;
}

.attributeContainer {
    width: 50%;
    line-height: 1.5em;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
}

.brand {
    font-family: Raleway;
    font-weight: 300;
    font-size: 1em;

    margin-top: 20px;
}

.name {
    font-family: Raleway;
    font-weight: 300;
    font-size: 1em;

}

.price {
    font-family: Raleway;
    font-weight: 500;
    font-size: 1em;

}

.attributesContainer {

}

.title {
    font-family: Roboto Condensed;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 8px;
}

.list {
    display: flex;
}

.attributeItem {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 15%;*/
    /*height: 20px;*/
    border: 1px solid #1D1F22;
    margin-right: 5px;
    /*margin-bottom: 20px;*/
    font-size: 10px;
    font-weight: 700;
    padding: 3%;
    cursor: pointer;
}

.active {
    border: 2px solid #c51111 !important;
}

.galleryBlock {
    display: flex;
    /*justify-content: flex-end;*/
    width: 50%;
}

.galleryContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

.counter {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    line-height: 3em;
    color: #1d1f22;


}

.button {
    background: none;
    border: 1px solid #1d1f22;
    cursor: pointer;
}

.value {
    font-family: Raleway;
    font-weight: 500;
    font-size: 0.5em;
    color: #1d1f22;
}

.imageContainer {
    /*width: 100%;*/
    /*height: 100%;*/
    display: flex;
    justify-content: center;
    object-fit: contain;

}

.cartImgItem {
    display: flex;
    width: 70%;
    /*height: 185px;*/
    object-fit: contain;
    /*margin-left: 30%;*/
}

.image {
    width: 50%;
}

.arrowContainer {
    position: relative;

}

.leftArrow {
    position: absolute;
    width: 5%;
    top: 90%;
    left: 45%;
    cursor: pointer;
    border: 1px black solid;

}

.leftArrow::after {
    content: "<";
    font-size: 20px;
}

.rightArrow {
    position: absolute;
    width: 5%;
    top: 90%;
    right: 40%;
    border: 1px black solid;
    cursor: pointer;
}

.rightArrow::after {
    content: ">";
    font-size: 20px;
}

.total{
    /*display: flex;*/

    /*justify-content: space-between;*/
    /*margin-top: 50px;*/
    padding-left: 10px;
}

.totalTitle {
    font-size: 100%;
}

.totalPrice {
    font-size: 32px;
}